{
  "extends": ["xo-space/esnext", "plugin:react/recommended"],
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "capitalized-comments": "off",
    "comma-dangle": "off"
  }
}